.carousel {
  overflow: hidden;
  display: flex;
  /* white-space: nowrap; */
}

/* .inner {

} */

.carousel-item {
  /* white-space: nowrap; */
  transition: transform 0.3s;
  align-items: center;
  justify-content: center;
  height: 494px;
  min-width: 100%;
  width: 100%;
  /* background-color: green; */
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}
